.scroll-container-wrapper1 {
    width: 90%;
    margin: 0rem  auto 1rem;
}

.container1 {
    width: 60%;
    height: 40vh;
}

.scroll-container1 {
    overflow-y: hidden;
}
.heading {
    margin-bottom: 0;
    height: 10vh;
    font-size: 2rem;
    font-family: sans-serif;
}
.reduce-heading {
    font-size: 1rem ;
    font-weight: 400;
}

@media  (max-width: 768px) {
    .scroll-container-wrapper1 {
        margin-top: 0;
    }
}
