.footer {
    color: white;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.terms-of-use {
    display: flex;
    gap: 20px;
}

.second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.footer-icons, .brand-logos {
    display:flex
}

.footer-paragraph {
    width:45vw;
    line-height: 2rem;
    letter-spacing: 1px;
}

/* .bold {
    font-weight: 600;
    font-size: 1.5rem;
} */

@media (max-width:768px) {
    .first-line, .second-line, .terms-of-use {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .footer-paragraph{
        width: 100%;
    }
    .footer {
        padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
}